* {
  font-family: 'IBM Plex Sans', sans-serif;
}
.section{
  min-height: 40vh;
  margin-bottom:1em;
}

h5 {
  margin-top:1em;
}

.section > h1 {
  margin:20px 20px 20px 0px;
}

a.nav-btn{
  text-decoration: none;
  color:black;
  padding:.5rem;
}
a.nav-btn:hover{
  /* background-color:#F2DA82; */
}

.nav-text-row{
  display:static;
  width:100%;
  text-align:center;
  padding:.5rem;
}

#header{
  position: fixed;
  width:100%;
  top:0;
  z-index:100;
  /*background-color:#70d9a9;*/
  background-color:cornsilk;
}

#nav-height{
  min-width:1px;
  height:56px;
}

#social-nav{
  width:100;
  margin:0 auto;
}


.footer{
  padding:.5rem;
  background-color:mediumseagreen;
  /* color:white; */
}

img#me{
  margin-bottom:1em; 
  width:80%;
}

#hi-sm{
  display:none;
}

@media only screen and (max-width: 765px) {
  img#me {
    max-width: 80%;
    margin: 0 auto 1em auto;
    display:block;
  }

  #hi-sm{
    display:inline-block;
  }

  #hi-nm{
    display:none;
  }
    
}